@import './colors.scss';

//states
.active {
    color: $clr-active !important; 
}

//justify-content
.sp-b {
    justify-content: space-between;
}

.sp-a {
    justify-content: space-around;
}

//gaps
.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

.g-4 {
    gap: 4rem;
}

.g-5 {
    gap: 5rem;
}

//sizes
.mh-100 {
    min-height: 100vh;
}
.w-100 {
    width: 100%;
}