@import './colors';
@import './fonts';
@import './shared';

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $clr-dark;
  color: $clr-light;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1; //???
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {display: none;}
button {
  cursor: pointer;
  &:hover {
    color: $clr-hover !important; 
  }
}
button::-moz-focus-inner{border: 0; padding: 0;}
a, a:visited{color: inherit; text-decoration: none;}
a:hover{
  text-decoration: none;
  color: $clr-hover;
}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-weight: 400; font-size: inherit;}


////////////////////////////////////////////////

.test {
  display: flex;
  flex-direction: column;
  z-index: 999;
}