@import '../../styles/colors';

.Navigation {
    display: flex;
    width: 85%;
    align-items: center;
}


.Navigation-list {
    display: flex;
}

.fixed {
    position: fixed;
}

.lang-log-container {
    display: flex;
}
