@import '../../styles/colors';

.LanguageSwitcher {
    display: flex;
    font-size: 0;
    .lng-btn {
        background: none;
        // margin: 0;
        // padding: 0;
        // box-sizing: border-box;
        // border: 0;
        font-size: 16px;
        color: $clr-light;
    }
}